<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="d-flex flex-column m-auto gap-5 px-3">
    <header class="sticky-top">
        <nav class="navbar gap-3 m-auto align-items-center">
            <a class="navbar-brand fw-semibold fst-italic fs-4" href="{{ url_for('index') }}">Careerly</a>

            <div id="nav-links" class="btn-group align-items-center">
                <input type="radio" class="btn-check" name="nav-links" id="nav-link-1" value="{{ url_for('index') }}"
                    onchange="window.location.href = this.value" {% if request.endpoint=='index' %}checked{% endif%} />
                <label class="btn btn-outline-dark" for="nav-link-1">
                    <i class="bi bi-house-door-fill"></i>
                    <span class="nav-option-text">Tracker</span>
                </label>

                <input type="radio" class="btn-check" name="nav-links" id="nav-link-2"
                    onchange="window.location.href = this.value" {% if request.endpoint=='browse' %}checked{% endif%} />
                <label class="btn btn-outline-dark" for="nav-link-2">
                    <span class="nav-option-text">Browse</span>
                    <i class="bi bi-collection"></i>
                </label>
            </div>

            <div class="dropdown-center">
                <button class="btn btn-outline dropdown-toggle text-dark" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="bi bi-person-fill"></i>
                    Danyil
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Sign Out</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="d-flex flex-column flex-grow-1">{% block main %}{% endblock %}</main>

    <footer></footer>
</body>

</html>